@inherits LayoutComponentBase
@using GitKeeper.Components

<div class="primary">
    <!-- <TabBar /> -->
    <div class="main">
      @Body
      @if (windowManagerService.IsLoading)
      {
      <div class="modal-wrapper">
        <Spinner></Spinner>
      </div>
      }
    </div>
    <div class=@ToolBarClass>
      <p>tool bar</p>
    </div>
</div>
