@inherits LayoutComponentBase

<div class="primary">
    <!-- <TabBar /> -->
    <div class="main">
      @Body
    </div>
    <div class=@ToolBarClass>
      <p>tool bar</p>
    </div>
</div>
