@inherits LayoutComponentBase
@using GitKeeper.Components

<div class="@TabBarClass">
  <div>
    <TabItem />
    <!-- @foreach ( var r in RepositoryInfo)
    {
      <p>Repository Name X</p>
    }
    -->
  </div>
</div>

