@page "/"
@inherits ComponentBase

<div class="@BaseClass" >

@if (Repositories.Count() > 0)
{
  <h1 class=@TitleClass >Hello, world!</h1>
}
else
{
  <div class=>

  <h1 class=@TitleClass>Choose Repository</h1>
  </div>
}

<button @onclick="ChangeTheme" > change </button>


</div>
