@page "/"
@inherits ComponentBase

<div class="@BaseClass" >

@if (Repositories.Count() > 0)
{
  <h1 class=@TitleClass >Hello, world!</h1>
}
else
{

  <div class="flex-container-column">
  <button> Choose Repository </button>
  <button> Clone Repository </button>
  <button @onclick="ChangeTheme" > change </button>
  </div>
}



</div>
