@page "/"
@inherits ComponentBase

<div class=@BaseClass >

@if (Repositories.Count() > 0)
{
  <h1 class=@TitleClass >Hello, world!</h1>
}
else
{
  <h1 class=@TitleClass>Choose Repository</h1>
}

<button @onclick="ChangeTheme" > change </button>


</div>
