
/* Background */
/* Red */
.bg-red {
  background-color: #F44336;
}
.bg-red-lighten-5 {
  background-color: #FFEBEE;
}
.bg-red-lighten-4 {
  background-color: #FFCDD2;
}
.bg-red-lighten-3 {
  background-color: #EF9A9A;
}
.bg-red-lighten-2 {
  background-color: #E57373;
}
.bg-red-lighten-1 {
  background-color: #EF5350;
}
.bg-red-darken-1 {
  background-color: #E53935;
}
.bg-red-darken-2 {
  background-color: #D32F2F;
}
.bg-red-darken-3 {
  background-color: #C62828;
}
.bg-red-darken-4 {
  background-color: #B71C1C;
}
.bg-red-accent-1 {
  background-color: #FF8A80;
}
.bg-red-accent-2 {
  background-color: #FF5252;
}
.bg-red-accent-3 {
  background-color: #FF1744;
}
.bg-red-accent-4 {
  background-color: #D50000;
}

/* Pink */
.bg-pink {
  background-color: #E91E63;
}
.bg-pink-lighten-5 {
  background-color: #FCE4EC;
}
.bg-pink-lighten-4 {
  background-color: #F8BBD0;
}
.bg-pink-lighten-3 {
  background-color: #F48FB1;
}
.bg-pink-lighten-2 {
  background-color: #F06292;
}
.bg-pink-lighten-1 {
  background-color: #EC407A;
}
.bg-pink-darken-1 {
  background-color: #D81B60;
}
.bg-pink-darken-2 {
  background-color: #C2185B;
}
.bg-pink-darken-3 {
  background-color: #AD1457;
}
.bg-pink-darken-4 {
  background-color: #880E4F;
}
.bg-pink-accent-1 {
  background-color: #FF80AB;
}
.bg-pink-accent-2 {
  background-color: #FF4081;
}
.bg-pink-accent-3 {
  background-color: #F50057;
}
.bg-pink-accent-4 {
  background-color: #C51162;
}

/* Purple */
.bg-purple {
  background-color: #9C27B0;
}
.bg-purple-lighten-5 {
  background-color: #F3E5F5;
}
.bg-purple-lighten-4 {
  background-color: #E1BEE7;
}
.bg-purple-lighten-3 {
  background-color: #CE93D8;
}
.bg-purple-lighten-2 {
  background-color: #BA68C8;
}
.bg-purple-lighten-1 {
  background-color: #AB47BC;
}
.bg-purple-darken-1 {
  background-color: #8E24AA;
}
.bg-purple-darken-2 {
  background-color: #7B1FA2;
}
.bg-purple-darken-3 {
  background-color: #6A1B9A;
}
.bg-purple-darken-4 {
  background-color: #4A148C;
}
.bg-purple-accent-1 {
  background-color: #EA80FC;
}
.bg-purple-accent-2 {
  background-color: #E040FB;
}
.bg-purple-accent-3 {
  background-color: #D500F9;
}
.bg-purple-accent-4 {
  background-color: #AA00FF;
}

/* Deep Purple */
.bg-deep-purple {
  background-color: #673AB7;
}
.bg-deep-purple-lighten-5 {
  background-color: #EDE7F6;
}
.bg-deep-purple-lighten-4 {
  background-color: #D1C4E9;
}
.bg-deep-purple-lighten-3 {
  background-color: #B39DDB;
}
.bg-deep-purple-lighten-2 {
  background-color: #9575CD;
}
.bg-deep-purple-lighten-1 {
  background-color: #7E57C2;
}
.bg-deep-purple-darken-1 {
  background-color: #5E35B1;
}
.bg-deep-purple-darken-2 {
  background-color: #512DA8;
}
.bg-deep-purple-darken-3 {
  background-color: #4527A0;
}
.bg-deep-purple-darken-4 {
  background-color: #311B92;
}
.bg-deep-purple-accent-1 {
  background-color: #B388FF;
}
.bg-deep-purple-accent-2 {
  background-color: #7C4DFF;
}
.bg-deep-purple-accent-3 {
  background-color: #651FFF;
}
.bg-deep-purple-accent-4 {
  background-color: #6200EA;
}

/* Indigo */
.bg-indigo {
  background-color: #3F51B5;
}
.bg-indigo-lighten-5 {
  background-color: #E8EAF6;
}
.bg-indigo-lighten-4 {
  background-color: #C5CAE9;
}
.bg-indigo-lighten-3 {
  background-color: #9FA8DA;
}
.bg-indigo-lighten-2 {
  background-color: #7986CB;
}
.bg-indigo-lighten-1 {
  background-color: #5C6BC0;
}
.bg-indigo-darken-1 {
  background-color: #3949AB;
}
.bg-indigo-darken-2 {
  background-color: #303F9F;
}
.bg-indigo-darken-3 {
  background-color: #283593;
}
.bg-indigo-darken-4 {
  background-color: #1A237E;
}
.bg-indigo-accent-1 {
  background-color: #8C9EFF;
}
.bg-indigo-accent-2 {
  background-color: #536DFE;
}
.bg-indigo-accent-3 {
  background-color: #3D5AFE;
}
.bg-indigo-accent-4 {
  background-color: #304FFE;
}

/* blue */
.bg-blue {
  background-color: #2196F3;
}
.bg-blue-lighten-5 {
  background-color: #E3F2FD;
}
.bg-blue-lighten-4 {
  background-color: #BBDEFB;
}
.bg-blue-lighten-3 {
  background-color: #90CAF9;
}
.bg-blue-lighten-2 {
  background-color: #64B5F6;
}
.bg-blue-lighten-1 {
  background-color: #42A5F5;
}
.bg-blue-darken-1 {
  background-color: #1E88E5;
}
.bg-blue-darken-2 {
  background-color: #1976D2;
}
.bg-blue-darken-3 {
  background-color: #1565C0;
}
.bg-blue-darken-4 {
  background-color: #0D47A1;
}
.bg-blue-accent-1 {
  background-color: #82B1FF;
}
.bg-blue-accent-2 {
  background-color: #448AFF;
}
.bg-blue-accent-3 {
  background-color: #2979FF;
}
.bg-blue-accent-4 {
  background-color: #2962FF;
}

/* Green */
.bg-green {
  background-color: #4CAF50;
}
.bg-green-lighten-5 {
  background-color: #E8F5E9;
}
.bg-green-lighten-4 {
  background-color: #C8E6C9;
}
.bg-green-lighten-3 {
  background-color: #A5D6A7;
}
.bg-green-lighten-2 {
  background-color: #81C784;
}
.bg-green-lighten-1 {
  background-color: #66BB6A;
}
.bg-green-darken-1 {
  background-color: #43A047;
}
.bg-green-darken-2 {
  background-color: #388E3C;
}
.bg-green-darken-3 {
  background-color: #2E7D32;
}
.bg-green-darken-4 {
  background-color: #1B5E20;
}
.bg-green-accent-1 {
  background-color: #B9F6CA;
}
.bg-green-accent-2 {
  background-color: #69F0AE;
}
.bg-green-accent-3 {
  background-color: #00E676;
}
.bg-green-accent-4 {
  background-color: #00C853;
}

/* Light Green */
.bg-light-green {
  background-color: #8BC34A;
}
.bg-light-green-lighten-5 {
  background-color: #F1F8E9;
}
.bg-light-green-lighten-4 {
  background-color: #DCEDC8;
}
.bg-light-green-lighten-3 {
  background-color: #C5E1A5;
}
.bg-light-green-lighten-2 {
  background-color: #AED581;
}
.bg-light-green-lighten-1 {
  background-color: #9CCC65;
}
.bg-light-green-darken-1 {
  background-color: #7CB342;
}
.bg-light-green-darken-2 {
  background-color: #689F38;
}
.bg-light-green-darken-3 {
  background-color: #558B2F;
}
.bg-light-green-darken-4 {
  background-color: #33691E;
}
.bg-light-green-accent-1 {
  background-color: #CCFF90;
}
.bg-light-green-accent-2 {
  background-color: #B2FF59;
}
.bg-light-green-accent-3 {
  background-color: #76FF03;
}
.bg-light-green-accent-4 {
  background-color: #64DD17;
}

/* Lime */
.bg-lime {
  background-color: #CDDC39;
}
.bg-lime-lighten-5 {
  background-color: #F9FBE7;
}
.bg-lime-lighten-4 {
  background-color: #F0F4C3;
}
.bg-lime-lighten-3 {
  background-color: #E6EE9C;
}
.bg-lime-lighten-2 {
  background-color: #DCE775;
}
.bg-lime-lighten-1 {
  background-color: #D4E157;
}
.bg-lime-darken-1 {
  background-color: #C0CA33;
}
.bg-lime-darken-2 {
  background-color: #AFB42B;
}
.bg-lime-darken-3 {
  background-color: #9E9D24;
}
.bg-lime-darken-4 {
  background-color: #827717;
}
.bg-lime-accent-1 {
  background-color: #F4FF81;
}
.bg-lime-accent-2 {
  background-color: #EEFF41;
}
.bg-lime-accent-3 {
  background-color: #C6FF00;
}
.bg-lime-accent-4 {
  background-color: #AEEA00;
}

/* Yellow */
.bg-yellow {
  background-color: #FFEB3B;
}
.bg-yellow-lighten-5 {
  background-color: #FFFDE7;
}
.bg-yellow-lighten-4 {
  background-color: #FFF9C4;
}
.bg-yellow-lighten-3 {
  background-color: #FFF59D;
}
.bg-yellow-lighten-2 {
  background-color: #FFF176;
}
.bg-yellow-lighten-1 {
  background-color: #FFEE58;
}
.bg-yellow-darken-1 {
  background-color: #FDD835;
}
.bg-yellow-darken-2 {
  background-color: #FBC02D;
}
.bg-yellow-darken-3 {
  background-color: #F9A825;
}
.bg-yellow-darken-4 {
  background-color: #F57F17;
}
.bg-yellow-accent-1 {
  background-color: #FFFF8D;
}
.bg-yellow-accent-2 {
  background-color: #FFFF00;
}
.bg-yellow-accent-3 {
  background-color: #FFEA00;
}
.bg-yellow-accent-4 {
  background-color: #FFD600;
}

/* Amber */
.bg-amber {
  background-color: #FFC107;
}
.bg-amber-lighten-5 {
  background-color: #FFF8E1;
}
.bg-amber-lighten-4 {
  background-color: #FFECB3;
}
.bg-amber-lighten-3 {
  background-color: #FFE082;
}
.bg-amber-lighten-2 {
  background-color: #FFD54F;
}
.bg-amber-lighten-1 {
  background-color: #FFCA28;
}
.bg-amber-darken-1 {
  background-color: #FFB300;
}
.bg-amber-darken-2 {
  background-color: #FFA000;
}
.bg-amber-darken-3 {
  background-color: #FF8F00;
}
.bg-amber-darken-4 {
  background-color: #FF6F00;
}
.bg-amber-accent-1 {
  background-color: #FFE57F;
}
.bg-amber-accent-2 {
  background-color: #FFD740;
}
.bg-amber-accent-3 {
  background-color: #FFC400;
}
.bg-amber-accent-4 {
  background-color: #FFAB00;
}

/* Orange */
.bg-orange {
  background-color: #FF9800;
}
.bg-orange-lighten-5 {
  background-color: #FFF3E0;
}
.bg-orange-lighten-4 {
  background-color: #FFE0B2;
}
.bg-orange-lighten-3 {
  background-color: #FFCC80;
}
.bg-orange-lighten-2 {
  background-color: #FFB74D;
}
.bg-orange-lighten-1 {
  background-color: #FFA726;
}
.bg-orange-darken-1 {
  background-color: #FB8C00;
}
.bg-orange-darken-2 {
  background-color: #F57C00;
}
.bg-orange-darken-3 {
  background-color: #EF6C00;
}
.bg-orange-darken-4 {
  background-color: #E65100;
}
.bg-orange-accent-1 {
  background-color: #FFD180;
}
.bg-orange-accent-2 {
  background-color: #FFAB40;
}
.bg-orange-accent-3 {
  background-color: #FF9100;
}
.bg-orange-accent-4 {
  background-color: #FF6D00;
}

/* Deep Orange */
.bg-deep-orange {
  background-color: #FF5722;
}
.bg-deep-orange-lighten-5 {
  background-color: #FBE9E7;
}
.bg-deep-orange-lighten-4 {
  background-color: #FFCCBC;
}
.bg-deep-orange-lighten-3 {
  background-color: #FFAB91;
}
.bg-deep-orange-lighten-2 {
  background-color: #FF8A65;
}
.bg-deep-orange-lighten-1 {
  background-color: #FF7043;
}
.bg-deep-orange-darken-1 {
  background-color: #F4511E;
}
.bg-deep-orange-darken-2 {
  background-color: #E64A19;
}
.bg-deep-orange-darken-3 {
  background-color: #D84315;
}
.bg-deep-orange-darken-4 {
  background-color: #BF360C;
}
.bg-deep-orange-accent-1 {
  background-color: #FF9E80;
}
.bg-deep-orange-accent-2 {
  background-color: #FF6E40;
}
.bg-deep-orange-accent-3 {
  background-color: #FF3D00;
}
.bg-deep-orange-accent-4 {
  background-color: #DD2C00;
}

/* Brown */
.bg-brown {
  background-color: #795548;
}
.bg-brown-lighten-5 {
  background-color: #EFEBE9;
}
.bg-brown-lighten-4 {
  background-color: #D7CCC8;
}
.bg-brown-lighten-3 {
  background-color: #BCAAA4;
}
.bg-brown-lighten-2 {
  background-color: #A1887F;
}
.bg-brown-lighten-1 {
  background-color: #8D6E63;
}
.bg-brown-darken-1 {
  background-color: #6D4C41;
}
.bg-brown-darken-2 {
  background-color: #5D4037;
}
.bg-brown-darken-3 {
  background-color: #4E342E;
}
.bg-brown-darken-4 {
  background-color: #3E2723;
}

/* Blue Gray */
.bg-blue-grey {
  background-color: #607D8B;
}
.bg-blue-grey-lighten-5 {
  background-color: #ECEFF1;
}
.bg-blue-grey-lighten-4 {
  background-color: #CFD8DC;
}
.bg-blue-grey-lighten-3 {
  background-color: #B0BEC5;
}
.bg-blue-grey-lighten-2 {
  background-color: #90A4AE;
}
.bg-blue-grey-lighten-1 {
  background-color: #78909C;
}
.bg-blue-grey-darken-1 {
  background-color: #546E7A;
}
.bg-blue-grey-darken-2 {
  background-color: #455A64;
}
.bg-blue-grey-darken-3 {
  background-color: #37474F;
}
.bg-blue-grey-darken-4 {
  background-color: #263238;
}

/* Gray */
.bg-grey {
  background-color: #9E9E9E;
}
.bg-grey-lighten-5 {
  background-color: #FAFAFA;
}
.bg-grey-lighten-4 {
  background-color: #F5F5F5;
}
.bg-grey-lighten-3 {
  background-color: #EEEEEE;
}
.bg-grey-lighten-2 {
  background-color: #E0E0E0;
}
.bg-grey-lighten-1 {
  background-color: #BDBDBD;
}
.bg-grey-darken-1 {
  background-color: #757575;
}
.bg-grey-darken-2 {
  background-color: #616161;
}
.bg-grey-darken-3 {
  background-color: #424242;
}
.bg-grey-darken-4 {
  background-color: #212121;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-transparent {
  background-color: rgba(255,255,255,0);
}

.bg-darken-80:hover {
  color: rgba(0,0,0,0.8);
}
.bg-darken-60:hover {
  color: rgba(0,0,0,0.6);
}
.bg-darken-40:hover {
  color: rgba(0,0,0,0.4);
}
.bg-darken-20:hover {
  color: rgba(0,0,0,0.2);
}

.bg-lighten-80:hover {
  color: rgba(255,255,255,0.8);
}
.bg-lighten-60:hover {
  color: rgba(255,255,255,0.6);
}
.bg-lighten-40:hover {
  color: rgba(255,255,255,0.4);
}
.bg-lighten-20:hover {
  color: rgba(255,255,255,0.2);
}

/* forground */
/* Red */
.fg-red {
  color: #F44336;
}
.fg-red-lighten-5 {
  color: #FFEBEE;
}
.fg-red-lighten-4 {
  color: #FFCDD2;
}
.fg-red-lighten-3 {
  color: #EF9A9A;
}
.fg-red-lighten-2 {
  color: #E57373;
}
.fg-red-lighten-1 {
  color: #EF5350;
}
.fg-red-darken-1 {
  color: #E53935;
}
.fg-red-darken-2 {
  color: #D32F2F;
}
.fg-red-darken-3 {
  color: #C62828;
}
.fg-red-darken-4 {
  color: #B71C1C;
}
.fg-red-accent-1 {
  color: #FF8A80;
}
.fg-red-accent-2 {
  color: #FF5252;
}
.fg-red-accent-3 {
  color: #FF1744;
}
.fg-red-accent-4 {
  color: #D50000;
}

/* Pink */
.fg-pink {
  color: #E91E63;
}
.fg-pink-lighten-5 {
  color: #FCE4EC;
}
.fg-pink-lighten-4 {
  color: #F8BBD0;
}
.fg-pink-lighten-3 {
  color: #F48FB1;
}
.fg-pink-lighten-2 {
  color: #F06292;
}
.fg-pink-lighten-1 {
  color: #EC407A;
}
.fg-pink-darken-1 {
  color: #D81B60;
}
.fg-pink-darken-2 {
  color: #C2185B;
}
.fg-pink-darken-3 {
  color: #AD1457;
}
.fg-pink-darken-4 {
  color: #880E4F;
}
.fg-pink-accent-1 {
  color: #FF80AB;
}
.fg-pink-accent-2 {
  color: #FF4081;
}
.fg-pink-accent-3 {
  color: #F50057;
}
.fg-pink-accent-4 {
  color: #C51162;
}

/* Purple */
.fg-purple {
  color: #9C27B0;
}
.fg-purple-lighten-5 {
  color: #F3E5F5;
}
.fg-purple-lighten-4 {
  color: #E1BEE7;
}
.fg-purple-lighten-3 {
  color: #CE93D8;
}
.fg-purple-lighten-2 {
  color: #BA68C8;
}
.fg-purple-lighten-1 {
  color: #AB47BC;
}
.fg-purple-darken-1 {
  color: #8E24AA;
}
.fg-purple-darken-2 {
  color: #7B1FA2;
}
.fg-purple-darken-3 {
  color: #6A1B9A;
}
.fg-purple-darken-4 {
  color: #4A148C;
}
.fg-purple-accent-1 {
  color: #EA80FC;
}
.fg-purple-accent-2 {
  color: #E040FB;
}
.fg-purple-accent-3 {
  color: #D500F9;
}
.fg-purple-accent-4 {
  color: #AA00FF;
}

/* Deep Purple */
.fg-deep-purple {
  color: #673AB7;
}
.fg-deep-purple-lighten-5 {
  color: #EDE7F6;
}
.fg-deep-purple-lighten-4 {
  color: #D1C4E9;
}
.fg-deep-purple-lighten-3 {
  color: #B39DDB;
}
.fg-deep-purple-lighten-2 {
  color: #9575CD;
}
.fg-deep-purple-lighten-1 {
  color: #7E57C2;
}
.fg-deep-purple-darken-1 {
  color: #5E35B1;
}
.fg-deep-purple-darken-2 {
  color: #512DA8;
}
.fg-deep-purple-darken-3 {
  color: #4527A0;
}
.fg-deep-purple-darken-4 {
  color: #311B92;
}
.fg-deep-purple-accent-1 {
  color: #B388FF;
}
.fg-deep-purple-accent-2 {
  color: #7C4DFF;
}
.fg-deep-purple-accent-3 {
  color: #651FFF;
}
.fg-deep-purple-accent-4 {
  color: #6200EA;
}

/* Indigo */
.fg-indigo {
  color: #3F51B5;
}
.fg-indigo-lighten-5 {
  color: #E8EAF6;
}
.fg-indigo-lighten-4 {
  color: #C5CAE9;
}
.fg-indigo-lighten-3 {
  color: #9FA8DA;
}
.fg-indigo-lighten-2 {
  color: #7986CB;
}
.fg-indigo-lighten-1 {
  color: #5C6BC0;
}
.fg-indigo-darken-1 {
  color: #3949AB;
}
.fg-indigo-darken-2 {
  color: #303F9F;
}
.fg-indigo-darken-3 {
  color: #283593;
}
.fg-indigo-darken-4 {
  color: #1A237E;
}
.fg-indigo-accent-1 {
  color: #8C9EFF;
}
.fg-indigo-accent-2 {
  color: #536DFE;
}
.fg-indigo-accent-3 {
  color: #3D5AFE;
}
.fg-indigo-accent-4 {
  color: #304FFE;
}

/* blue */
.fg-blue {
  color: #2196F3;
}
.fg-blue-lighten-5 {
  color: #E3F2FD;
}
.fg-blue-lighten-4 {
  color: #BBDEFB;
}
.fg-blue-lighten-3 {
  color: #90CAF9;
}
.fg-blue-lighten-2 {
  color: #64B5F6;
}
.fg-blue-lighten-1 {
  color: #42A5F5;
}
.fg-blue-darken-1 {
  color: #1E88E5;
}
.fg-blue-darken-2 {
  color: #1976D2;
}
.fg-blue-darken-3 {
  color: #1565C0;
}
.fg-blue-darken-4 {
  color: #0D47A1;
}
.fg-blue-accent-1 {
  color: #82B1FF;
}
.fg-blue-accent-2 {
  color: #448AFF;
}
.fg-blue-accent-3 {
  color: #2979FF;
}
.fg-blue-accent-4 {
  color: #2962FF;
}

/* Green */
.fg-green {
  color: #4CAF50;
}
.fg-green-lighten-5 {
  color: #E8F5E9;
}
.fg-green-lighten-4 {
  color: #C8E6C9;
}
.fg-green-lighten-3 {
  color: #A5D6A7;
}
.fg-green-lighten-2 {
  color: #81C784;
}
.fg-green-lighten-1 {
  color: #66BB6A;
}
.fg-green-darken-1 {
  color: #43A047;
}
.fg-green-darken-2 {
  color: #388E3C;
}
.fg-green-darken-3 {
  color: #2E7D32;
}
.fg-green-darken-4 {
  color: #1B5E20;
}
.fg-green-accent-1 {
  color: #B9F6CA;
}
.fg-green-accent-2 {
  color: #69F0AE;
}
.fg-green-accent-3 {
  color: #00E676;
}
.fg-green-accent-4 {
  color: #00C853;
}

/* Light Green */
.fg-light-green {
  color: #8BC34A;
}
.fg-light-green-lighten-5 {
  color: #F1F8E9;
}
.fg-light-green-lighten-4 {
  color: #DCEDC8;
}
.fg-light-green-lighten-3 {
  color: #C5E1A5;
}
.fg-light-green-lighten-2 {
  color: #AED581;
}
.fg-light-green-lighten-1 {
  color: #9CCC65;
}
.fg-light-green-darken-1 {
  color: #7CB342;
}
.fg-light-green-darken-2 {
  color: #689F38;
}
.fg-light-green-darken-3 {
  color: #558B2F;
}
.fg-light-green-darken-4 {
  color: #33691E;
}
.fg-light-green-accent-1 {
  color: #CCFF90;
}
.fg-light-green-accent-2 {
  color: #B2FF59;
}
.fg-light-green-accent-3 {
  color: #76FF03;
}
.fg-light-green-accent-4 {
  color: #64DD17;
}

/* Lime */
.fg-lime {
  color: #CDDC39;
}
.fg-lime-lighten-5 {
  color: #F9FBE7;
}
.fg-lime-lighten-4 {
  color: #F0F4C3;
}
.fg-lime-lighten-3 {
  color: #E6EE9C;
}
.fg-lime-lighten-2 {
  color: #DCE775;
}
.fg-lime-lighten-1 {
  color: #D4E157;
}
.fg-lime-darken-1 {
  color: #C0CA33;
}
.fg-lime-darken-2 {
  color: #AFB42B;
}
.fg-lime-darken-3 {
  color: #9E9D24;
}
.fg-lime-darken-4 {
  color: #827717;
}
.fg-lime-accent-1 {
  color: #F4FF81;
}
.fg-lime-accent-2 {
  color: #EEFF41;
}
.fg-lime-accent-3 {
  color: #C6FF00;
}
.fg-lime-accent-4 {
  color: #AEEA00;
}

/* Yellow */
.fg-yellow {
  color: #FFEB3B;
}
.fg-yellow-lighten-5 {
  color: #FFFDE7;
}
.fg-yellow-lighten-4 {
  color: #FFF9C4;
}
.fg-yellow-lighten-3 {
  color: #FFF59D;
}
.fg-yellow-lighten-2 {
  color: #FFF176;
}
.fg-yellow-lighten-1 {
  color: #FFEE58;
}
.fg-yellow-darken-1 {
  color: #FDD835;
}
.fg-yellow-darken-2 {
  color: #FBC02D;
}
.fg-yellow-darken-3 {
  color: #F9A825;
}
.fg-yellow-darken-4 {
  color: #F57F17;
}
.fg-yellow-accent-1 {
  color: #FFFF8D;
}
.fg-yellow-accent-2 {
  color: #FFFF00;
}
.fg-yellow-accent-3 {
  color: #FFEA00;
}
.fg-yellow-accent-4 {
  color: #FFD600;
}

/* Amber */
.fg-amber {
  color: #FFC107;
}
.fg-amber-lighten-5 {
  color: #FFF8E1;
}
.fg-amber-lighten-4 {
  color: #FFECB3;
}
.fg-amber-lighten-3 {
  color: #FFE082;
}
.fg-amber-lighten-2 {
  color: #FFD54F;
}
.fg-amber-lighten-1 {
  color: #FFCA28;
}
.fg-amber-darken-1 {
  color: #FFB300;
}
.fg-amber-darken-2 {
  color: #FFA000;
}
.fg-amber-darken-3 {
  color: #FF8F00;
}
.fg-amber-darken-4 {
  color: #FF6F00;
}
.fg-amber-accent-1 {
  color: #FFE57F;
}
.fg-amber-accent-2 {
  color: #FFD740;
}
.fg-amber-accent-3 {
  color: #FFC400;
}
.fg-amber-accent-4 {
  color: #FFAB00;
}

/* Orange */
.fg-orange {
  color: #FF9800;
}
.fg-orange-lighten-5 {
  color: #FFF3E0;
}
.fg-orange-lighten-4 {
  color: #FFE0B2;
}
.fg-orange-lighten-3 {
  color: #FFCC80;
}
.fg-orange-lighten-2 {
  color: #FFB74D;
}
.fg-orange-lighten-1 {
  color: #FFA726;
}
.fg-orange-darken-1 {
  color: #FB8C00;
}
.fg-orange-darken-2 {
  color: #F57C00;
}
.fg-orange-darken-3 {
  color: #EF6C00;
}
.fg-orange-darken-4 {
  color: #E65100;
}
.fg-orange-accent-1 {
  color: #FFD180;
}
.fg-orange-accent-2 {
  color: #FFAB40;
}
.fg-orange-accent-3 {
  color: #FF9100;
}
.fg-orange-accent-4 {
  color: #FF6D00;
}

/* Deep Orange */
.fg-deep-orange {
  color: #FF5722;
}
.fg-deep-orange-lighten-5 {
  color: #FBE9E7;
}
.fg-deep-orange-lighten-4 {
  color: #FFCCBC;
}
.fg-deep-orange-lighten-3 {
  color: #FFAB91;
}
.fg-deep-orange-lighten-2 {
  color: #FF8A65;
}
.fg-deep-orange-lighten-1 {
  color: #FF7043;
}
.fg-deep-orange-darken-1 {
  color: #F4511E;
}
.fg-deep-orange-darken-2 {
  color: #E64A19;
}
.fg-deep-orange-darken-3 {
  color: #D84315;
}
.fg-deep-orange-darken-4 {
  color: #BF360C;
}
.fg-deep-orange-accent-1 {
  color: #FF9E80;
}
.fg-deep-orange-accent-2 {
  color: #FF6E40;
}
.fg-deep-orange-accent-3 {
  color: #FF3D00;
}
.fg-deep-orange-accent-4 {
  color: #DD2C00;
}

/* Brown */
.fg-brown {
  color: #795548;
}
.fg-brown-lighten-5 {
  color: #EFEBE9;
}
.fg-brown-lighten-4 {
  color: #D7CCC8;
}
.fg-brown-lighten-3 {
  color: #BCAAA4;
}
.fg-brown-lighten-2 {
  color: #A1887F;
}
.fg-brown-lighten-1 {
  color: #8D6E63;
}
.fg-brown-darken-1 {
  color: #6D4C41;
}
.fg-brown-darken-2 {
  color: #5D4037;
}
.fg-brown-darken-3 {
  color: #4E342E;
}
.fg-brown-darken-4 {
  color: #3E2723;
}

/* Blue Gray */
.fg-blue-grey {
  color: #607D8B;
}
.fg-blue-grey-lighten-5 {
  color: #ECEFF1;
}
.fg-blue-grey-lighten-4 {
  color: #CFD8DC;
}
.fg-blue-grey-lighten-3 {
  color: #B0BEC5;
}
.fg-blue-grey-lighten-2 {
  color: #90A4AE;
}
.fg-blue-grey-lighten-1 {
  color: #78909C;
}
.fg-blue-grey-darken-1 {
  color: #546E7A;
}
.fg-blue-grey-darken-2 {
  color: #455A64;
}
.fg-blue-grey-darken-3 {
  color: #37474F;
}
.fg-blue-grey-darken-4 {
  color: #263238;
}

/* Gray */
.fg-grey {
  color: #9E9E9E;
}
.fg-grey-lighten-5 {
  color: #FAFAFA;
}
.fg-grey-lighten-4 {
  color: #F5F5F5;
}
.fg-grey-lighten-3 {
  color: #EEEEEE;
}
.fg-grey-lighten-2 {
  color: #E0E0E0;
}
.fg-grey-lighten-1 {
  color: #BDBDBD;
}
.fg-grey-darken-1 {
  color: #757575;
}
.fg-grey-darken-2 {
  color: #616161;
}
.fg-grey-darken-3 {
  color: #424242;
}
.fg-grey-darken-4 {
  color: #212121;
}

.fg-black {
  color: #000000;
}

.fg-white {
  color: #FFFFFF;
}

.fg-transparent {
  color: rgba(255,255,255,0);
}

.fg-darken-80:hover {
  color: rgba(0,0,0,0.8);
}
.fg-darken-60:hover {
  color: rgba(0,0,0,0.6);
}
.fg-darken-40:hover {
  color: rgba(0,0,0,0.4);
}
.fg-darken-20:hover {
  color: rgba(0,0,0,0.2);
}

.fg-lighten-80:hover {
  color: rgba(255,255,255,0.8);
}
.fg-lighten-60:hover {
  color: rgba(255,255,255,0.6);
}
.fg-lighten-40:hover {
  color: rgba(255,255,255,0.4);
}
.fg-lighten-20:hover {
  color: rgba(255,255,255,0.2);
}



.hover-bg-red:hover {
  background-color: #F44336;
}
.hover-bg-red-lighten-5:hover {
  background-color: #FFEBEE;
}
.hover-bg-red-lighten-4:hover {
  background-color: #FFCDD2;
}
.hover-bg-red-lighten-3:hover {
  background-color: #EF9A9A;
}
.hover-bg-red-lighten-2:hover {
  background-color: #E57373;
}
.hover-bg-red-lighten-1:hover {
  background-color: #EF5350;
}
.hover-bg-red-darken-1:hover {
  background-color: #E53935;
}
.hover-bg-red-darken-2:hover {
  background-color: #D32F2F;
}
.hover-bg-red-darken-3:hover {
  background-color: #C62828;
}
.hover-bg-red-darken-4:hover {
  background-color: #B71C1C;
}
.hover-bg-red-accent-1:hover {
  background-color: #FF8A80;
}
.hover-bg-red-accent-2:hover {
  background-color: #FF5252;
}
.hover-bg-red-accent-3:hover {
  background-color: #FF1744;
}
.hover-bg-red-accent-4:hover {
  background-color: #D50000;
}

/* Pink */
.hover-bg-pink:hover {
  background-color: #E91E63;
}
.hover-bg-pink-lighten-5:hover {
  background-color: #FCE4EC;
}
.hover-bg-pink-lighten-4:hover {
  background-color: #F8BBD0;
}
.hover-bg-pink-lighten-3:hover {
  background-color: #F48FB1;
}
.hover-bg-pink-lighten-2:hover {
  background-color: #F06292;
}
.hover-bg-pink-lighten-1:hover {
  background-color: #EC407A;
}
.hover-bg-pink-darken-1:hover {
  background-color: #D81B60;
}
.hover-bg-pink-darken-2:hover {
  background-color: #C2185B;
}
.hover-bg-pink-darken-3:hover {
  background-color: #AD1457;
}
.hover-bg-pink-darken-4:hover {
  background-color: #880E4F;
}
.hover-bg-pink-accent-1:hover {
  background-color: #FF80AB;
}
.hover-bg-pink-accent-2:hover {
  background-color: #FF4081;
}
.hover-bg-pink-accent-3:hover {
  background-color: #F50057;
}
.hover-bg-pink-accent-4:hover {
  background-color: #C51162;
}

/* Purple */
.hover-bg-purple:hover {
  background-color: #9C27B0;
}
.hover-bg-purple-lighten-5:hover {
  background-color: #F3E5F5;
}
.hover-bg-purple-lighten-4:hover {
  background-color: #E1BEE7;
}
.hover-bg-purple-lighten-3:hover {
  background-color: #CE93D8;
}
.hover-bg-purple-lighten-2:hover {
  background-color: #BA68C8;
}
.hover-bg-purple-lighten-1:hover {
  background-color: #AB47BC;
}
.hover-bg-purple-darken-1:hover {
  background-color: #8E24AA;
}
.hover-bg-purple-darken-2:hover {
  background-color: #7B1FA2;
}
.hover-bg-purple-darken-3:hover {
  background-color: #6A1B9A;
}
.hover-bg-purple-darken-4:hover {
  background-color: #4A148C;
}
.hover-bg-purple-accent-1:hover {
  background-color: #EA80FC;
}
.hover-bg-purple-accent-2:hover {
  background-color: #E040FB;
}
.hover-bg-purple-accent-3:hover {
  background-color: #D500F9;
}
.hover-bg-purple-accent-4:hover {
  background-color: #AA00FF;
}

/* Deep Purple */
.hover-bg-deep-purple:hover {
  background-color: #673AB7;
}
.hover-bg-deep-purple-lighten-5:hover {
  background-color: #EDE7F6;
}
.hover-bg-deep-purple-lighten-4:hover {
  background-color: #D1C4E9;
}
.hover-bg-deep-purple-lighten-3:hover {
  background-color: #B39DDB;
}
.hover-bg-deep-purple-lighten-2:hover {
  background-color: #9575CD;
}
.hover-bg-deep-purple-lighten-1:hover {
  background-color: #7E57C2;
}
.hover-bg-deep-purple-darken-1:hover {
  background-color: #5E35B1;
}
.hover-bg-deep-purple-darken-2:hover {
  background-color: #512DA8;
}
.hover-bg-deep-purple-darken-3:hover {
  background-color: #4527A0;
}
.hover-bg-deep-purple-darken-4:hover {
  background-color: #311B92;
}
.hover-bg-deep-purple-accent-1:hover {
  background-color: #B388FF;
}
.hover-bg-deep-purple-accent-2:hover {
  background-color: #7C4DFF;
}
.hover-bg-deep-purple-accent-3:hover {
  background-color: #651FFF;
}
.hover-bg-deep-purple-accent-4:hover {
  background-color: #6200EA;
}

/* Indigo */
.hover-bg-indigo:hover {
  background-color: #3F51B5;
}
.hover-bg-indigo-lighten-5:hover {
  background-color: #E8EAF6;
}
.hover-bg-indigo-lighten-4:hover {
  background-color: #C5CAE9;
}
.hover-bg-indigo-lighten-3:hover {
  background-color: #9FA8DA;
}
.hover-bg-indigo-lighten-2:hover {
  background-color: #7986CB;
}
.hover-bg-indigo-lighten-1:hover {
  background-color: #5C6BC0;
}
.hover-bg-indigo-darken-1:hover {
  background-color: #3949AB;
}
.hover-bg-indigo-darken-2:hover {
  background-color: #303F9F;
}
.hover-bg-indigo-darken-3:hover {
  background-color: #283593;
}
.hover-bg-indigo-darken-4:hover {
  background-color: #1A237E;
}
.hover-bg-indigo-accent-1:hover {
  background-color: #8C9EFF;
}
.hover-bg-indigo-accent-2:hover {
  background-color: #536DFE;
}
.hover-bg-indigo-accent-3:hover {
  background-color: #3D5AFE;
}
.hover-bg-indigo-accent-4:hover {
  background-color: #304FFE;
}

/* blue */
.hover-bg-blue:hover {
  background-color: #2196F3;
}
.hover-bg-blue-lighten-5:hover {
  background-color: #E3F2FD;
}
.hover-bg-blue-lighten-4:hover {
  background-color: #BBDEFB;
}
.hover-bg-blue-lighten-3:hover {
  background-color: #90CAF9;
}
.hover-bg-blue-lighten-2:hover {
  background-color: #64B5F6;
}
.hover-bg-blue-lighten-1:hover {
  background-color: #42A5F5;
}
.hover-bg-blue-darken-1:hover {
  background-color: #1E88E5;
}
.hover-bg-blue-darken-2:hover {
  background-color: #1976D2;
}
.hover-bg-blue-darken-3:hover {
  background-color: #1565C0;
}
.hover-bg-blue-darken-4:hover {
  background-color: #0D47A1;
}
.hover-bg-blue-accent-1:hover {
  background-color: #82B1FF;
}
.hover-bg-blue-accent-2:hover {
  background-color: #448AFF;
}
.hover-bg-blue-accent-3:hover {
  background-color: #2979FF;
}
.hover-bg-blue-accent-4:hover {
  background-color: #2962FF;
}

/* Green */
.hover-bg-green:hover {
  background-color: #4CAF50;
}
.hover-bg-green-lighten-5:hover {
  background-color: #E8F5E9;
}
.hover-bg-green-lighten-4:hover {
  background-color: #C8E6C9;
}
.hover-bg-green-lighten-3:hover {
  background-color: #A5D6A7;
}
.hover-bg-green-lighten-2:hover {
  background-color: #81C784;
}
.hover-bg-green-lighten-1:hover {
  background-color: #66BB6A;
}
.hover-bg-green-darken-1:hover {
  background-color: #43A047;
}
.hover-bg-green-darken-2:hover {
  background-color: #388E3C;
}
.hover-bg-green-darken-3:hover {
  background-color: #2E7D32;
}
.hover-bg-green-darken-4:hover {
  background-color: #1B5E20;
}
.hover-bg-green-accent-1:hover {
  background-color: #B9F6CA;
}
.hover-bg-green-accent-2:hover {
  background-color: #69F0AE;
}
.hover-bg-green-accent-3:hover {
  background-color: #00E676;
}
.hover-bg-green-accent-4:hover {
  background-color: #00C853;
}

/* Light Green */
.hover-bg-light-green:hover {
  background-color: #8BC34A;
}
.hover-bg-light-green-lighten-5:hover {
  background-color: #F1F8E9;
}
.hover-bg-light-green-lighten-4:hover {
  background-color: #DCEDC8;
}
.hover-bg-light-green-lighten-3:hover {
  background-color: #C5E1A5;
}
.hover-bg-light-green-lighten-2:hover {
  background-color: #AED581;
}
.hover-bg-light-green-lighten-1:hover {
  background-color: #9CCC65;
}
.hover-bg-light-green-darken-1:hover {
  background-color: #7CB342;
}
.hover-bg-light-green-darken-2:hover {
  background-color: #689F38;
}
.hover-bg-light-green-darken-3:hover {
  background-color: #558B2F;
}
.hover-bg-light-green-darken-4:hover {
  background-color: #33691E;
}
.hover-bg-light-green-accent-1:hover {
  background-color: #CCFF90;
}
.hover-bg-light-green-accent-2:hover {
  background-color: #B2FF59;
}
.hover-bg-light-green-accent-3:hover {
  background-color: #76FF03;
}
.hover-bg-light-green-accent-4:hover {
  background-color: #64DD17;
}

/* Lime */
.hover-bg-lime:hover {
  background-color: #CDDC39;
}
.hover-bg-lime-lighten-5:hover {
  background-color: #F9FBE7;
}
.hover-bg-lime-lighten-4:hover {
  background-color: #F0F4C3;
}
.hover-bg-lime-lighten-3:hover {
  background-color: #E6EE9C;
}
.hover-bg-lime-lighten-2:hover {
  background-color: #DCE775;
}
.hover-bg-lime-lighten-1:hover {
  background-color: #D4E157;
}
.hover-bg-lime-darken-1:hover {
  background-color: #C0CA33;
}
.hover-bg-lime-darken-2:hover {
  background-color: #AFB42B;
}
.hover-bg-lime-darken-3:hover {
  background-color: #9E9D24;
}
.hover-bg-lime-darken-4:hover {
  background-color: #827717;
}
.hover-bg-lime-accent-1:hover {
  background-color: #F4FF81;
}
.hover-bg-lime-accent-2:hover {
  background-color: #EEFF41;
}
.hover-bg-lime-accent-3:hover {
  background-color: #C6FF00;
}
.hover-bg-lime-accent-4:hover {
  background-color: #AEEA00;
}

/* Yellow */
.hover-bg-yellow:hover {
  background-color: #FFEB3B;
}
.hover-bg-yellow-lighten-5:hover {
  background-color: #FFFDE7;
}
.hover-bg-yellow-lighten-4:hover {
  background-color: #FFF9C4;
}
.hover-bg-yellow-lighten-3:hover {
  background-color: #FFF59D;
}
.hover-bg-yellow-lighten-2:hover {
  background-color: #FFF176;
}
.hover-bg-yellow-lighten-1:hover {
  background-color: #FFEE58;
}
.hover-bg-yellow-darken-1:hover {
  background-color: #FDD835;
}
.hover-bg-yellow-darken-2:hover {
  background-color: #FBC02D;
}
.hover-bg-yellow-darken-3:hover {
  background-color: #F9A825;
}
.hover-bg-yellow-darken-4:hover {
  background-color: #F57F17;
}
.hover-bg-yellow-accent-1:hover {
  background-color: #FFFF8D;
}
.hover-bg-yellow-accent-2:hover {
  background-color: #FFFF00;
}
.hover-bg-yellow-accent-3:hover {
  background-color: #FFEA00;
}
.hover-bg-yellow-accent-4:hover {
  background-color: #FFD600;
}

/* Amber */
.hover-bg-amber:hover {
  background-color: #FFC107;
}
.hover-bg-amber-lighten-5:hover {
  background-color: #FFF8E1;
}
.hover-bg-amber-lighten-4:hover {
  background-color: #FFECB3;
}
.hover-bg-amber-lighten-3:hover {
  background-color: #FFE082;
}
.hover-bg-amber-lighten-2:hover {
  background-color: #FFD54F;
}
.hover-bg-amber-lighten-1:hover {
  background-color: #FFCA28;
}
.hover-bg-amber-darken-1:hover {
  background-color: #FFB300;
}
.hover-bg-amber-darken-2:hover {
  background-color: #FFA000;
}
.hover-bg-amber-darken-3:hover {
  background-color: #FF8F00;
}
.hover-bg-amber-darken-4:hover {
  background-color: #FF6F00;
}
.hover-bg-amber-accent-1:hover {
  background-color: #FFE57F;
}
.hover-bg-amber-accent-2:hover {
  background-color: #FFD740;
}
.hover-bg-amber-accent-3:hover {
  background-color: #FFC400;
}
.hover-bg-amber-accent-4:hover {
  background-color: #FFAB00;
}

/* Orange */
.hover-bg-orange:hover {
  background-color: #FF9800;
}
.hover-bg-orange-lighten-5:hover {
  background-color: #FFF3E0;
}
.hover-bg-orange-lighten-4:hover {
  background-color: #FFE0B2;
}
.hover-bg-orange-lighten-3:hover {
  background-color: #FFCC80;
}
.hover-bg-orange-lighten-2:hover {
  background-color: #FFB74D;
}
.hover-bg-orange-lighten-1:hover {
  background-color: #FFA726;
}
.hover-bg-orange-darken-1:hover {
  background-color: #FB8C00;
}
.hover-bg-orange-darken-2:hover {
  background-color: #F57C00;
}
.hover-bg-orange-darken-3:hover {
  background-color: #EF6C00;
}
.hover-bg-orange-darken-4:hover {
  background-color: #E65100;
}
.hover-bg-orange-accent-1:hover {
  background-color: #FFD180;
}
.hover-bg-orange-accent-2:hover {
  background-color: #FFAB40;
}
.hover-bg-orange-accent-3:hover {
  background-color: #FF9100;
}
.hover-bg-orange-accent-4:hover {
  background-color: #FF6D00;
}

/* Deep Orange */
.hover-bg-deep-orange:hover {
  background-color: #FF5722;
}
.hover-bg-deep-orange-lighten-5:hover {
  background-color: #FBE9E7;
}
.hover-bg-deep-orange-lighten-4:hover {
  background-color: #FFCCBC;
}
.hover-bg-deep-orange-lighten-3:hover {
  background-color: #FFAB91;
}
.hover-bg-deep-orange-lighten-2:hover {
  background-color: #FF8A65;
}
.hover-bg-deep-orange-lighten-1:hover {
  background-color: #FF7043;
}
.hover-bg-deep-orange-darken-1:hover {
  background-color: #F4511E;
}
.hover-bg-deep-orange-darken-2:hover {
  background-color: #E64A19;
}
.hover-bg-deep-orange-darken-3:hover {
  background-color: #D84315;
}
.hover-bg-deep-orange-darken-4:hover {
  background-color: #BF360C;
}
.hover-bg-deep-orange-accent-1:hover {
  background-color: #FF9E80;
}
.hover-bg-deep-orange-accent-2:hover {
  background-color: #FF6E40;
}
.hover-bg-deep-orange-accent-3:hover {
  background-color: #FF3D00;
}
.hover-bg-deep-orange-accent-4:hover {
  background-color: #DD2C00;
}

/* Brown */
.hover-bg-brown:hover {
  background-color: #795548;
}
.hover-bg-brown-lighten-5:hover {
  background-color: #EFEBE9;
}
.hover-bg-brown-lighten-4:hover {
  background-color: #D7CCC8;
}
.hover-bg-brown-lighten-3:hover {
  background-color: #BCAAA4;
}
.hover-bg-brown-lighten-2:hover {
  background-color: #A1887F;
}
.hover-bg-brown-lighten-1:hover {
  background-color: #8D6E63;
}
.hover-bg-brown-darken-1:hover {
  background-color: #6D4C41;
}
.hover-bg-brown-darken-2:hover {
  background-color: #5D4037;
}
.hover-bg-brown-darken-3:hover {
  background-color: #4E342E;
}
.hover-bg-brown-darken-4:hover {
  background-color: #3E2723;
}

/* Blue Gray */
.hover-bg-blue-grey:hover {
  background-color: #607D8B;
}
.hover-bg-blue-grey-lighten-5:hover {
  background-color: #ECEFF1;
}
.hover-bg-blue-grey-lighten-4:hover {
  background-color: #CFD8DC;
}
.hover-bg-blue-grey-lighten-3:hover {
  background-color: #B0BEC5;
}
.hover-bg-blue-grey-lighten-2:hover {
  background-color: #90A4AE;
}
.hover-bg-blue-grey-lighten-1:hover {
  background-color: #78909C;
}
.hover-bg-blue-grey-darken-1:hover {
  background-color: #546E7A;
}
.hover-bg-blue-grey-darken-2:hover {
  background-color: #455A64;
}
.hover-bg-blue-grey-darken-3:hover {
  background-color: #37474F;
}
.hover-bg-blue-grey-darken-4:hover {
  background-color: #263238;
}

/* Gray */
.hover-bg-grey:hover {
  background-color: #9E9E9E;
}
.hover-bg-grey-lighten-5:hover {
  background-color: #FAFAFA;
}
.hover-bg-grey-lighten-4:hover {
  background-color: #F5F5F5;
}
.hover-bg-grey-lighten-3:hover {
  background-color: #EEEEEE;
}
.hover-bg-grey-lighten-2:hover {
  background-color: #E0E0E0;
}
.hover-bg-grey-lighten-1:hover {
  background-color: #BDBDBD;
}
.hover-bg-grey-darken-1:hover {
  background-color: #757575;
}
.hover-bg-grey-darken-2:hover {
  background-color: #616161;
}
.hover-bg-grey-darken-3:hover {
  background-color: #424242;
}
.hover-bg-grey-darken-4:hover {
  background-color: #212121;
}

.hover-bg-black:hover {
  background-color: #000000;
}

.hover-bg-white:hover {
  background-color: #FFFFFF;
}

.hover-bg-transparent:hover {
  background-color: rgba(255,255,255,0);
}

.hover-bg-darken-80:hover {
  background-color: rgba(0,0,0,0.8);
}
.hover-bg-darken-60:hover {
  background-color: rgba(0,0,0,0.6);
}
.hover-bg-darken-40:hover {
  background-color: rgba(0,0,0,0.4);
}
.hover-bg-darken-20:hover {
  background-color: rgba(0,0,0,0.2);
}

.hover-bg-lighten-80:hover {
  background-color: rgba(255,255,255,0.8);
}
.hover-bg-lighten-60:hover {
  background-color: rgba(255,255,255,0.6);
}
.hover-bg-lighten-40:hover {
  background-color: rgba(255,255,255,0.4);
}
.hover-bg-lighten-20:hover {
  background-color: rgba(255,255,255,0.2);
}


/* forground */
/* Red */
.hover-fg-red:hover {
  color: #F44336;
}
.hover-fg-red-lighten-5:hover {
  color: #FFEBEE;
}
.hover-fg-red-lighten-4:hover {
  color: #FFCDD2;
}
.hover-fg-red-lighten-3:hover {
  color: #EF9A9A;
}
.hover-fg-red-lighten-2:hover {
  color: #E57373;
}
.hover-fg-red-lighten-1:hover {
  color: #EF5350;
}
.hover-fg-red-darken-1:hover {
  color: #E53935;
}
.hover-fg-red-darken-2:hover {
  color: #D32F2F;
}
.hover-fg-red-darken-3:hover {
  color: #C62828;
}
.hover-fg-red-darken-4:hover {
  color: #B71C1C;
}
.hover-fg-red-accent-1:hover {
  color: #FF8A80;
}
.hover-fg-red-accent-2:hover {
  color: #FF5252;
}
.hover-fg-red-accent-3:hover {
  color: #FF1744;
}
.hover-fg-red-accent-4:hover {
  color: #D50000;
}

/* Pink */
.hover-fg-pink:hover {
  color: #E91E63;
}
.hover-fg-pink-lighten-5:hover {
  color: #FCE4EC;
}
.hover-fg-pink-lighten-4:hover {
  color: #F8BBD0;
}
.hover-fg-pink-lighten-3:hover {
  color: #F48FB1;
}
.hover-fg-pink-lighten-2:hover {
  color: #F06292;
}
.hover-fg-pink-lighten-1:hover {
  color: #EC407A;
}
.hover-fg-pink-darken-1:hover {
  color: #D81B60;
}
.hover-fg-pink-darken-2:hover {
  color: #C2185B;
}
.hover-fg-pink-darken-3:hover {
  color: #AD1457;
}
.hover-fg-pink-darken-4:hover {
  color: #880E4F;
}
.hover-fg-pink-accent-1:hover {
  color: #FF80AB;
}
.hover-fg-pink-accent-2:hover {
  color: #FF4081;
}
.hover-fg-pink-accent-3:hover {
  color: #F50057;
}
.hover-fg-pink-accent-4:hover {
  color: #C51162;
}

/* Purple */
.hover-fg-purple:hover {
  color: #9C27B0;
}
.hover-fg-purple-lighten-5:hover {
  color: #F3E5F5;
}
.hover-fg-purple-lighten-4:hover {
  color: #E1BEE7;
}
.hover-fg-purple-lighten-3:hover {
  color: #CE93D8;
}
.hover-fg-purple-lighten-2:hover {
  color: #BA68C8;
}
.hover-fg-purple-lighten-1:hover {
  color: #AB47BC;
}
.hover-fg-purple-darken-1:hover {
  color: #8E24AA;
}
.hover-fg-purple-darken-2:hover {
  color: #7B1FA2;
}
.hover-fg-purple-darken-3:hover {
  color: #6A1B9A;
}
.hover-fg-purple-darken-4:hover {
  color: #4A148C;
}
.hover-fg-purple-accent-1:hover {
  color: #EA80FC;
}
.hover-fg-purple-accent-2:hover {
  color: #E040FB;
}
.hover-fg-purple-accent-3:hover {
  color: #D500F9;
}
.hover-fg-purple-accent-4:hover {
  color: #AA00FF;
}

/* Deep Purple */
.hover-fg-deep-purple:hover {
  color: #673AB7;
}
.hover-fg-deep-purple-lighten-5:hover {
  color: #EDE7F6;
}
.hover-fg-deep-purple-lighten-4:hover {
  color: #D1C4E9;
}
.hover-fg-deep-purple-lighten-3:hover {
  color: #B39DDB;
}
.hover-fg-deep-purple-lighten-2:hover {
  color: #9575CD;
}
.hover-fg-deep-purple-lighten-1:hover {
  color: #7E57C2;
}
.hover-fg-deep-purple-darken-1:hover {
  color: #5E35B1;
}
.hover-fg-deep-purple-darken-2:hover {
  color: #512DA8;
}
.hover-fg-deep-purple-darken-3:hover {
  color: #4527A0;
}
.hover-fg-deep-purple-darken-4:hover {
  color: #311B92;
}
.hover-fg-deep-purple-accent-1:hover {
  color: #B388FF;
}
.hover-fg-deep-purple-accent-2:hover {
  color: #7C4DFF;
}
.hover-fg-deep-purple-accent-3:hover {
  color: #651FFF;
}
.hover-fg-deep-purple-accent-4:hover {
  color: #6200EA;
}

/* Indigo */
.hover-fg-indigo:hover {
  color: #3F51B5;
}
.hover-fg-indigo-lighten-5:hover {
  color: #E8EAF6;
}
.hover-fg-indigo-lighten-4:hover {
  color: #C5CAE9;
}
.hover-fg-indigo-lighten-3:hover {
  color: #9FA8DA;
}
.hover-fg-indigo-lighten-2:hover {
  color: #7986CB;
}
.hover-fg-indigo-lighten-1:hover {
  color: #5C6BC0;
}
.hover-fg-indigo-darken-1:hover {
  color: #3949AB;
}
.hover-fg-indigo-darken-2:hover {
  color: #303F9F;
}
.hover-fg-indigo-darken-3:hover {
  color: #283593;
}
.hover-fg-indigo-darken-4:hover {
  color: #1A237E;
}
.hover-fg-indigo-accent-1:hover {
  color: #8C9EFF;
}
.hover-fg-indigo-accent-2:hover {
  color: #536DFE;
}
.hover-fg-indigo-accent-3:hover {
  color: #3D5AFE;
}
.hover-fg-indigo-accent-4:hover {
  color: #304FFE;
}

/* blue */
.hover-fg-blue:hover {
  color: #2196F3;
}
.hover-fg-blue-lighten-5:hover {
  color: #E3F2FD;
}
.hover-fg-blue-lighten-4:hover {
  color: #BBDEFB;
}
.hover-fg-blue-lighten-3:hover {
  color: #90CAF9;
}
.hover-fg-blue-lighten-2:hover {
  color: #64B5F6;
}
.hover-fg-blue-lighten-1:hover {
  color: #42A5F5;
}
.hover-fg-blue-darken-1:hover {
  color: #1E88E5;
}
.hover-fg-blue-darken-2:hover {
  color: #1976D2;
}
.hover-fg-blue-darken-3:hover {
  color: #1565C0;
}
.hover-fg-blue-darken-4:hover {
  color: #0D47A1;
}
.hover-fg-blue-accent-1:hover {
  color: #82B1FF;
}
.hover-fg-blue-accent-2:hover {
  color: #448AFF;
}
.hover-fg-blue-accent-3:hover {
  color: #2979FF;
}
.hover-fg-blue-accent-4:hover {
  color: #2962FF;
}

/* Green */
.hover-fg-green:hover {
  color: #4CAF50;
}
.hover-fg-green-lighten-5:hover {
  color: #E8F5E9;
}
.hover-fg-green-lighten-4:hover {
  color: #C8E6C9;
}
.hover-fg-green-lighten-3:hover {
  color: #A5D6A7;
}
.hover-fg-green-lighten-2:hover {
  color: #81C784;
}
.hover-fg-green-lighten-1:hover {
  color: #66BB6A;
}
.hover-fg-green-darken-1:hover {
  color: #43A047;
}
.hover-fg-green-darken-2:hover {
  color: #388E3C;
}
.hover-fg-green-darken-3:hover {
  color: #2E7D32;
}
.hover-fg-green-darken-4:hover {
  color: #1B5E20;
}
.hover-fg-green-accent-1:hover {
  color: #B9F6CA;
}
.hover-fg-green-accent-2:hover {
  color: #69F0AE;
}
.hover-fg-green-accent-3:hover {
  color: #00E676;
}
.hover-fg-green-accent-4:hover {
  color: #00C853;
}

/* Light Green */
.hover-fg-light-green:hover {
  color: #8BC34A;
}
.hover-fg-light-green-lighten-5:hover {
  color: #F1F8E9;
}
.hover-fg-light-green-lighten-4:hover {
  color: #DCEDC8;
}
.hover-fg-light-green-lighten-3:hover {
  color: #C5E1A5;
}
.hover-fg-light-green-lighten-2:hover {
  color: #AED581;
}
.hover-fg-light-green-lighten-1:hover {
  color: #9CCC65;
}
.hover-fg-light-green-darken-1:hover {
  color: #7CB342;
}
.hover-fg-light-green-darken-2:hover {
  color: #689F38;
}
.hover-fg-light-green-darken-3:hover {
  color: #558B2F;
}
.hover-fg-light-green-darken-4:hover {
  color: #33691E;
}
.hover-fg-light-green-accent-1:hover {
  color: #CCFF90;
}
.hover-fg-light-green-accent-2:hover {
  color: #B2FF59;
}
.hover-fg-light-green-accent-3:hover {
  color: #76FF03;
}
.hover-fg-light-green-accent-4:hover {
  color: #64DD17;
}

/* Lime */
.hover-fg-lime:hover {
  color: #CDDC39;
}
.hover-fg-lime-lighten-5:hover {
  color: #F9FBE7;
}
.hover-fg-lime-lighten-4:hover {
  color: #F0F4C3;
}
.hover-fg-lime-lighten-3:hover {
  color: #E6EE9C;
}
.hover-fg-lime-lighten-2:hover {
  color: #DCE775;
}
.hover-fg-lime-lighten-1:hover {
  color: #D4E157;
}
.hover-fg-lime-darken-1:hover {
  color: #C0CA33;
}
.hover-fg-lime-darken-2:hover {
  color: #AFB42B;
}
.hover-fg-lime-darken-3:hover {
  color: #9E9D24;
}
.hover-fg-lime-darken-4:hover {
  color: #827717;
}
.hover-fg-lime-accent-1:hover {
  color: #F4FF81;
}
.hover-fg-lime-accent-2:hover {
  color: #EEFF41;
}
.hover-fg-lime-accent-3:hover {
  color: #C6FF00;
}
.hover-fg-lime-accent-4:hover {
  color: #AEEA00;
}

/* Yellow */
.hover-fg-yellow:hover {
  color: #FFEB3B;
}
.hover-fg-yellow-lighten-5:hover {
  color: #FFFDE7;
}
.hover-fg-yellow-lighten-4:hover {
  color: #FFF9C4;
}
.hover-fg-yellow-lighten-3:hover {
  color: #FFF59D;
}
.hover-fg-yellow-lighten-2:hover {
  color: #FFF176;
}
.hover-fg-yellow-lighten-1:hover {
  color: #FFEE58;
}
.hover-fg-yellow-darken-1:hover {
  color: #FDD835;
}
.hover-fg-yellow-darken-2:hover {
  color: #FBC02D;
}
.hover-fg-yellow-darken-3:hover {
  color: #F9A825;
}
.hover-fg-yellow-darken-4:hover {
  color: #F57F17;
}
.hover-fg-yellow-accent-1:hover {
  color: #FFFF8D;
}
.hover-fg-yellow-accent-2:hover {
  color: #FFFF00;
}
.hover-fg-yellow-accent-3:hover {
  color: #FFEA00;
}
.hover-fg-yellow-accent-4:hover {
  color: #FFD600;
}

/* Amber */
.hover-fg-amber:hover {
  color: #FFC107;
}
.hover-fg-amber-lighten-5:hover {
  color: #FFF8E1;
}
.hover-fg-amber-lighten-4:hover {
  color: #FFECB3;
}
.hover-fg-amber-lighten-3:hover {
  color: #FFE082;
}
.hover-fg-amber-lighten-2:hover {
  color: #FFD54F;
}
.hover-fg-amber-lighten-1:hover {
  color: #FFCA28;
}
.hover-fg-amber-darken-1:hover {
  color: #FFB300;
}
.hover-fg-amber-darken-2:hover {
  color: #FFA000;
}
.hover-fg-amber-darken-3:hover {
  color: #FF8F00;
}
.hover-fg-amber-darken-4:hover {
  color: #FF6F00;
}
.hover-fg-amber-accent-1:hover {
  color: #FFE57F;
}
.hover-fg-amber-accent-2:hover {
  color: #FFD740;
}
.hover-fg-amber-accent-3:hover {
  color: #FFC400;
}
.hover-fg-amber-accent-4:hover {
  color: #FFAB00;
}

/* Orange */
.hover-fg-orange:hover {
  color: #FF9800;
}
.hover-fg-orange-lighten-5:hover {
  color: #FFF3E0;
}
.hover-fg-orange-lighten-4:hover {
  color: #FFE0B2;
}
.hover-fg-orange-lighten-3:hover {
  color: #FFCC80;
}
.hover-fg-orange-lighten-2:hover {
  color: #FFB74D;
}
.hover-fg-orange-lighten-1:hover {
  color: #FFA726;
}
.hover-fg-orange-darken-1:hover {
  color: #FB8C00;
}
.hover-fg-orange-darken-2:hover {
  color: #F57C00;
}
.hover-fg-orange-darken-3:hover {
  color: #EF6C00;
}
.hover-fg-orange-darken-4:hover {
  color: #E65100;
}
.hover-fg-orange-accent-1:hover {
  color: #FFD180;
}
.hover-fg-orange-accent-2:hover {
  color: #FFAB40;
}
.hover-fg-orange-accent-3:hover {
  color: #FF9100;
}
.hover-fg-orange-accent-4:hover {
  color: #FF6D00;
}

/* Deep Orange */
.hover-fg-deep-orange:hover {
  color: #FF5722;
}
.hover-fg-deep-orange-lighten-5:hover {
  color: #FBE9E7;
}
.hover-fg-deep-orange-lighten-4:hover {
  color: #FFCCBC;
}
.hover-fg-deep-orange-lighten-3:hover {
  color: #FFAB91;
}
.hover-fg-deep-orange-lighten-2:hover {
  color: #FF8A65;
}
.hover-fg-deep-orange-lighten-1:hover {
  color: #FF7043;
}
.hover-fg-deep-orange-darken-1:hover {
  color: #F4511E;
}
.hover-fg-deep-orange-darken-2:hover {
  color: #E64A19;
}
.hover-fg-deep-orange-darken-3:hover {
  color: #D84315;
}
.hover-fg-deep-orange-darken-4:hover {
  color: #BF360C;
}
.hover-fg-deep-orange-accent-1:hover {
  color: #FF9E80;
}
.hover-fg-deep-orange-accent-2:hover {
  color: #FF6E40;
}
.hover-fg-deep-orange-accent-3:hover {
  color: #FF3D00;
}
.hover-fg-deep-orange-accent-4:hover {
  color: #DD2C00;
}

/* Brown */
.hover-fg-brown:hover {
  color: #795548;
}
.hover-fg-brown-lighten-5:hover {
  color: #EFEBE9;
}
.hover-fg-brown-lighten-4:hover {
  color: #D7CCC8;
}
.hover-fg-brown-lighten-3:hover {
  color: #BCAAA4;
}
.hover-fg-brown-lighten-2:hover {
  color: #A1887F;
}
.hover-fg-brown-lighten-1:hover {
  color: #8D6E63;
}
.hover-fg-brown-darken-1:hover {
  color: #6D4C41;
}
.hover-fg-brown-darken-2:hover {
  color: #5D4037;
}
.hover-fg-brown-darken-3:hover {
  color: #4E342E;
}
.hover-fg-brown-darken-4:hover {
  color: #3E2723;
}

/* Blue Gray */
.hover-fg-blue-grey:hover {
  color: #607D8B;
}
.hover-fg-blue-grey-lighten-5:hover {
  color: #ECEFF1;
}
.hover-fg-blue-grey-lighten-4:hover {
  color: #CFD8DC;
}
.hover-fg-blue-grey-lighten-3:hover {
  color: #B0BEC5;
}
.hover-fg-blue-grey-lighten-2:hover {
  color: #90A4AE;
}
.hover-fg-blue-grey-lighten-1:hover {
  color: #78909C;
}
.hover-fg-blue-grey-darken-1:hover {
  color: #546E7A;
}
.hover-fg-blue-grey-darken-2:hover {
  color: #455A64;
}
.hover-fg-blue-grey-darken-3:hover {
  color: #37474F;
}
.hover-fg-blue-grey-darken-4:hover {
  color: #263238;
}

/* Gray */
.hover-fg-grey:hover {
  color: #9E9E9E;
}
.hover-fg-grey-lighten-5:hover {
  color: #FAFAFA;
}
.hover-fg-grey-lighten-4:hover {
  color: #F5F5F5;
}
.hover-fg-grey-lighten-3:hover {
  color: #EEEEEE;
}
.hover-fg-grey-lighten-2:hover {
  color: #E0E0E0;
}
.hover-fg-grey-lighten-1:hover {
  color: #BDBDBD;
}
.hover-fg-grey-darken-1:hover {
  color: #757575;
}
.hover-fg-grey-darken-2:hover {
  color: #616161;
}
.hover-fg-grey-darken-3:hover {
  color: #424242;
}
.hover-fg-grey-darken-4:hover {
  color: #212121;
}

.hover-fg-black:hover {
  color: #000000;
}

.hover-fg-white:hover {
  color: #FFFFFF;
}

.hover-fg-darken-80:hover {
  color: rgba(0,0,0,0.8);
}
.hover-fg-darken-60:hover {
  color: rgba(0,0,0,0.6);
}
.hover-fg-darken-40:hover {
  color: rgba(0,0,0,0.4);
}
.hover-fg-darken-20:hover {
  color: rgba(0,0,0,0.2);
}

.hover-fg-lighten-80:hover {
  color: rgba(255,255,255,0.8);
}
.hover-fg-lighten-60:hover {
  color: rgba(255,255,255,0.6);
}
.hover-fg-lighten-40:hover {
  color: rgba(255,255,255,0.4);
}
.hover-fg-lighten-20:hover {
  color: rgba(255,255,255,0.2);
}
