@import './reset.css';
@import './colors.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.primary {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.tab-bar {
  height: 24px;
  flex-grow: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex:1 0 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.tool-bar {
  height: 32px;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.flex-auto {
  flex:1 0 100%;
}
